@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.sommelier-section {
  position: relative;
  width: 100%;
  background-color: #272323;
  overflow: hidden;
}

.sommelier-container {
  display: flex;
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 400px;
}

.sommelier-image {
  width: 50%;
  position: relative;
  z-index: 1;
}

.main-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sommelier-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-img {
  position: absolute;
  margin-right: -10px;
  width: 100%;
  height:  600px;
  z-index: 1;
  clip-path: polygon(16% 0, 100% 0, 100% 100%, 0% 100%);
}

.sommelier-text {
  position: relative;
  z-index: 2;
  color: #fff;
  text-align: center;
  max-width: 500px;
}

.sommelier-text h4 {
  font-family: "Alex Brush";
  font-size: 48px;
  font-weight: 400;
  font-style: italic;
  opacity: 0.8;
  margin-bottom: 20px;
}

.sommelier-text h2 {
  font-family: 'Inter', sans-serif;
  font-size: 34px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 25px;
}

.sommelier-text p{
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 20px;
}

@media (max-width: 1550px){
.sommelier-container {
  width: 100%;
  height: 100%;
}

.main-img {
  width: 100%;
  height: 85% !important;
}

.sommelier-overlay {  
  width: 60%;
  height: 100%;
}
 
.overlay-img {
  margin-top: -50px;
  height: 364px;
  z-index: 1;
  clip-path: polygon(17% 0, 100% 0, 100% 100%, 0% 100%);
}

.sommelier-text {
  margin-top: -40px;
  margin-right: -30px;
}

.sommelier-text h4 {
  font-size: 58px;
  margin-bottom: 10px;
}

.sommelier-text h2 {
  font-size: 34px;
  margin-bottom: 20px;
}

.sommelier-text p{
  font-size: 15px;
} 
}

@media (max-width: 1400px){
.sommelier-container {
  width: 100%;
  height: 100%;
}

.main-img {
  width: 607px;
  height: 100%;
}

.sommelier-overlay {  
  width: 64%;
  height: 100%;
}
 
.overlay-img {
  margin-top: -50px;
  height: 364px;
  z-index: 1;
  clip-path: polygon(17% 0, 100% 0, 100% 100%, 0% 100%);
}

.sommelier-text {
  margin-top: 20px;
  margin-right: -30px;
}

.sommelier-text h4 {
  margin-bottom: 10px;
}

.sommelier-text h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.sommelier-text p{
  font-size: 15px;
}  
}

@media (max-width: 1024px)  {
  .sommelier-container {
    width: 100%;
    height: 100%;
  }
  
  .main-img {
    width: 607px;
    height: 100%;
  }
  
  .sommelier-overlay {  
    width: 64%;
    height: 100%;
  }
   
  .overlay-img {
    margin-top: -50px;
    height: 364px;
    z-index: 1;
    clip-path: polygon(17% 0, 100% 0, 100% 100%, 0% 100%);
  }
  
  .sommelier-text {
    margin-top: 20px;
    margin-right: -30px;
  }
  
  .sommelier-text h4 {
    margin-bottom: 10px;
  }
  
  .sommelier-text h2 {
    max-width: 300px;
    font-size: 23px;
    margin-bottom: 5px;
  }
  
  .sommelier-text p{
    font-size: 15px;
  }  
}
  
@media (max-width: 900px) {
  .sommelier-container {
    width: 100%;
    height: 100%;
  }
  
  .main-img {
    width: 100%;
    height: 100%;
  }
  
  .sommelier-overlay {  
    width: 64%;
    height: 100%;
  }
   
  .overlay-img {
    margin-top: -50px;
    height: 364px;
    z-index: 1;
    clip-path: polygon(13% 0, 100% 0, 100% 100%, 0% 100%);
  }
  
  .sommelier-text {
    margin-top: 19px;
    margin-right: -30px;
  }
  
  .sommelier-text h4 {
    margin-bottom: 10px;
  }
  
  .sommelier-text h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .sommelier-text p{
    font-size: 14px;
  }  
}
  
@media (max-width: 720px) {
.sommelier-container {
  width: 100%;
  height: 100%;
}

.sommelier-image {
  width: 100%;
  z-index: 1;
}

.main-img {
  width: 285px;
  height: 99.7%;
}

.sommelier-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
}
 
.overlay-img {
  margin-top: -50px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 300px;
  z-index: 1;
  clip-path: polygon(16% 0, 100% 0, 100% 100%, 0% 100%);
}

.sommelier-text {
  margin-top: 20px;
  margin-right: -30px;
}

.sommelier-text h4 {
  font-size: 25px;
  margin-bottom: 8px;
}

.sommelier-text h2 {
  max-width: 200px;
  font-size: 15px;
  margin-bottom: 5px;
}

.sommelier-text p{
  font-size: 9px;
}  
}

@media (max-width: 500px) {
.sommelier-container {
  width: 100%;
  height: 100%;
}

.sommelier-image {
  width: 100%;
  z-index: 1;
}

.main-img {
  width: 270px;
  height: 99.7%;
}

.sommelier-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
}
 
.overlay-img {
  margin-top: -50px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 300px;
  z-index: 1;
  clip-path: polygon(16% 0, 100% 0, 100% 100%, 0% 100%);
}

.sommelier-text {
  margin-top: 20px;
  margin-right: -30px;
}

.sommelier-text h4 {
  font-size: 25px;
  margin-bottom: 8px;
}

.sommelier-text h2 {
  font-size: 12px;
  margin-bottom: 5px;
}

.sommelier-text p{
  font-size: 10px;
}  
}
