@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.features-section {
  background-color: rgb(39, 35, 35);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.features-container {
  display: flex;
  gap: 7px;
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
}

.feature-item {
  position: relative;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
}

.feature-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.feature-item:hover img {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
}

.feature-title {
  color:#FFFFFF;
  margin-bottom: 8px;
  font-family: "Inter", sans-serif;
font-weight: 450;
font-size: 17px;
line-height: 100%;
letter-spacing: 15%;
text-align: center;
}

.feature-subtitle {
  color: #fff;
  font-family: "Inter", sans-serif;
font-weight: 600;
font-size: 21px;
line-height: 100%;
letter-spacing: 5%;
text-align: center;
}

@media (max-width: 1400px){
  .features-container {
    height: 120px;
    max-width: 1500px;
  }
  
  .feature-item img {
    height: 140px;
  }
  
  .feature-title {
  font-size: 12px;
  }
  
  .feature-subtitle {
  font-size: 17px;
  }
}

@media (max-width: 1024px) {
  .features-container {
    height: 120px;
    max-width: 1500px;
  }
  
  .feature-item img {
    height: 140px;
  }
  
  .feature-title {
  font-size: 12px;
  }
  
  .feature-subtitle {
  font-size: 17px;
  }
  }


@media (max-width: 900px) {
.features-container {
  height: 112px;
  max-width: 1500px;
  margin-bottom: 10px;
}

.feature-item img {
  height: 140px;
}

.feature-title {
font-size: 12px;
}

.feature-subtitle {
font-size: 17px;
}
}

@media (max-width: 600px) {
.features-container {
  height: 100px;
}

.feature-title {
font-size: 10px;
}

.feature-subtitle {
font-size: 14px;
}
}

@media (max-width: 500px) {
 .features-container {
  height: 65px;
  margin-bottom: 0px;
}

.feature-item img {
  height: 100%;
  width: 100%;
}

.feature-title {
font-size: 7px;
}

.feature-subtitle {
font-size: 9px;
}
}