.product-card {
  background:#0A0A0A;
  text-align: left;
  padding: 18px;
}

.product-card:hover {
  transform: translateY(-4px);
}

.product-card .img {
  background: #111;
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card .title {
  margin: 18px 0 11px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 25%;
}

.product-card .meta {
  color: #bdbdbd;
  font-size: 13px;
}

.product-card .price-row {
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 100px;
}

.product-card .price {
  color: #fff;
  font-weight: 700;
  letter-spacing: .05em;
}

.to-cart {
  background: #7A0000;
  color: #fff;
  border: none;
  padding: 10px 14px;
  cursor: pointer;
  font-weight: 700;
}

.price {
  color: #fff;
  font-weight: 700;
  font-size: 15px;
}

.to-cart:hover {
  background-color: #c00;
}

@media (max-width: 1024px) {
  .product-card {
  width: 270px;
  padding: 18px;
}

.product-card .img {
  padding-bottom: 20px;
  height: 300px;
}

.product-card .title {
  margin: 28px 0 11px;
  font-size: 10px;
}

.product-card .meta {
  font-size: 10px;
}

.product-card .price-row {
  gap: 12px;
  font-size: 10px;
}

.product-card .price {
  font-size: 15px;
}

.to-cart {
  margin-left: 60px;
  padding: 8px 14px;
  font-size: 10px;
}

.price {
  font-weight: 700;
}
}


@media (max-width: 900px) {
  .product-card {
  width: 330px;
  padding: 18px;
}

.product-card .img {
  padding-bottom: 20px;
  height: 300px;
}

.product-card .title {
  margin: 28px 0 11px;
  font-size: 10px;
}

.product-card .meta {
  font-size: 10px;
}

.product-card .price-row {
  gap: 12px;
  font-size: 10px;
}

.product-card .price {
  font-size: 15px;
}

.to-cart {
  margin-left: 60px;
  padding: 8px 14px;
  font-size: 10px;
}

.price {
  font-weight: 700;
}
}



@media (max-width: 600px) {
  .product-card {
  width: 280px;
  padding: 20px;
  margin-top: 10px;

}

.product-card .img {
  height: 290px;
   padding-bottom: 20px;
}

.product-card .title {
  margin: 28px 0 11px;
  font-size: 20px;
}

.product-card .meta {
  font-size: 15px;
}

.product-card .price-row {
  gap: 130px;
}

.product-card .price {
  font-size: 15px;
}

.to-cart {
  padding: 10px 15px 10px;
  font-size: 12px;
  margin-right: 10px;
    margin-left: -100px;
}

}
