* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #000; 
  color: white;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/*
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
*/
