@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.product-details {
  display: flex;
  align-items: flex-start;
  background-color: #1b1919;
  padding: 60px 80px;
  gap: 150px;
  position: relative;
  overflow: hidden;
}

.product-left {
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  will-change: transform;
  height: 450px;
  width: 400px;
  padding-bottom: 40px;
}

.product-left img {
  width: 320px;
  height: 450px;
  object-fit: contain;
  display: block;
}

.product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.product-title {
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 1px;
}

.product-meta {
  font-family: "Inter";
  font-weight: 600;
  font-size: 15px;
  color: #bdbdbd;
  text-transform: uppercase;
}

.product-price {
  font-family: "Inter";
  font-weight: 600;
  text-transform: uppercase;
  font-size: 26px;
  margin-top: 10px;
}

.buy-row {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

.buy-row input {
  width: 55px;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  background: #222;
  color: white;
  border: 1px solid #555;
}

.buy-btn {
  background-color: #7a0000;
  color: white;
  padding: 10px 25px;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Inter";
  font-weight: 800;
  font-size: 14px;
}

.buy-btn:hover {
  background-color: #a50000;
}

.product-stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px 40px;
  font-size: 14px;
  margin-top: 15px;
  font-family: Inter;
}

.product-stats strong {
  font-weight: 600;
  color: #aaa;
}

.product-section {
  margin-top: 35px;
}

.product-section h3 {
  border-bottom: 1px solid #444;
  padding-bottom: 8px;
  margin-bottom: 12px;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  color: #bdbdbd;
}

.product-section p {
  color: #ffffff;
  line-height: 1.6;
  text-align: justify;
  max-width: 90%;
  font-family: Inter;
  font-weight: 500;
  font-size: 13px;
}

@media(max-width: 1290px){
  .product-details {
    padding: 60px 80px;
    gap: 160px;
  }
  
  .product-left {
    height: 400px;
    width: 350px;
    padding-bottom: 40px;
  }
  
  .product-left img {
    width: 300px;
    height: 430px;
  }
}

@media(max-width: 1150px){
  .product-details {
    padding: 60px 80px;
    gap: 155px;
  }
  
  .product-left {
    height: 390px;
    width: 340px;
    padding-bottom: 40px;
  }
  
  .product-left img {
    width: 350px;
    height: 400px;
  }
}

@media (max-width: 1024px) {
  .product-details {
    flex-direction: column;
    padding: 0px 40px;
    padding-bottom: 40px;
    gap: 60px;
  }

  .product-left {
    height: 100%;
    width: 109%;
    padding-top: 20px;
    margin-left: -40px;
    transform: none !important;
  }

  .product-left img {
    width: 250px;
    height: 320px;
  }

  .product-info {
    padding-top: 20px;
  }
}
